.parallax {
            
    width: 600px;
    height: 440px;
    overflow: hidden;
    position: relative;
    background-image: url('/images/parallax/fon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index:1;
    
}
.parallax__layer {
    position: absolute;
}
.parallax__layer:nth-of-type(1) {
background-image: url('/images/parallax/фон точки.svg');
width: 550px;
height: 400px;
background-size: contain;
background-repeat: no-repeat;
}
.parallax__layer:nth-of-type(2) {
background-image: url('/images/parallax/person.svg');
width: 500px;
height: 400px;
background-size: contain;
background-repeat: no-repeat;
} .parallax__layer:nth-of-type(3) {
background-image: url('/images/parallax/кофе.svg');
width: 500px;
height: 400px;
background-size: contain;
background-repeat: no-repeat;
} 
